@import '../../scss/variables';

.span-update-configuration {
  display: flex;
  justify-content: flex-end;
}

.trash-btn {
  font-size: large;
}

.state {
  padding: $standard-space;
  border-radius: 50%;
  background-color: $color-text-second;

  &:hover {
    border-color: rgba($color-text-second, 0.75);
    background-color: rgba($color-text-second, 0.75);
  }

  &.FAILURE {
    border: $main-border-width solid $color-state-error;
    background-color: $color-state-error;

    &:hover {
      border-color: rgba($color-state-error, 0.75);
      background-color: rgba($color-state-error, 0.75);
    }
  }

  &.PROCESSING {
    border: $main-border-width solid $color-orange;
    background-color: $color-orange;

    &:hover {
      border-color: rgba($color-orange, 0.75);
      background-color: rgba($color-orange, 0.75);
    }
  }

  &.SUCCESS {
    border: $main-border-width solid $color-state-available-darker;
    background-color: $color-state-available-darker;

    &:hover {
      border-color: rgba($color-state-available-darker, 0.75);
      background-color: rgba($color-state-available-darker, 0.75);
    }
  }
}

.btn-on-right {
  display: flex;
  align-items: center;
}

.input-with-close-icon {
  position: relative;
  width: 100%;
}

.select-identity {
  margin-top: $standard-space * 2;
  margin-bottom: $standard-space * 2;
}