.full-width {
  width: 100%;
}

.unclickable-button {
  pointer-events: none;
}

.action-type {
  @extend .unclickable-button;
  padding: 0px;
}

.add-button {
  margin-top: 20px;
}

.folder-path {
  margin-left: 20px;
  margin-right: 70px;
  width: 100%;
  text-overflow: initial !important;
  overflow: auto !important;
}

.remove-button {
  justify-self: flex-end;
  position: absolute;
  right: 0%;
}

.help-icon {
  font-size: 20px;
}
