@import '../../scss/variables';

.full-width {
  width: 100%;
}

.folder-add-button {
  margin: 4px;
  top: -8px;
  z-index: 1;
  float: right;
}

.align-end {
  display: flex;
  justify-content: flex-end;
}

.span-expansion-panel-header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-right: 30px;
  width: calc(100% - 30px);
}

.span-folder-name {
  align-self: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  direction: rtl;
}

.span-update-configuration {
  display: flex;
  justify-content: flex-end;
}

.icon-in-input {
  padding: 0;
}

.trash-btn {
  font-size: large;
}

.state {
  padding: $standard-space;
  border-radius: 50%;
  background-color: $color-text-second;

  &:hover {
    border-color: rgba($color-text-second, 0.75);
    background-color: rgba($color-text-second, 0.75);
  }

  &.FAILURE {
    border: $main-border-width solid $color-state-error;
    background-color: $color-state-error;

    &:hover {
      border-color: rgba($color-state-error, 0.75);
      background-color: rgba($color-state-error, 0.75);
    }
  }

  &.PROCESSING {
    border: $main-border-width solid $color-orange;
    background-color: $color-orange;

    &:hover {
      border-color: rgba($color-orange, 0.75);
      background-color: rgba($color-orange, 0.75);
    }
  }

  &.SUCCESS {
    border: $main-border-width solid $color-state-available-darker;
    background-color: $color-state-available-darker;

    &:hover {
      border-color: rgba($color-state-available-darker, 0.75);
      background-color: rgba($color-state-available-darker, 0.75);
    }
  }
}

.btn-on-right {
  display: flex;
  align-items: center;
}
