.page-content {
  text-align: center;
}

.woleet-logo {
  max-height: 100px;
}

.form-content {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}