.dialog-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mat-dialog-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 90vh;
  align-items: center;
}

.woleet-logo {
  display: block;
  width: 50vw;
}

.dialog-title {
  font-size: 2em;
  margin-top: 20vh;
}

.dialog-subtitle {
  font-size: 1em;
}

.form-content{
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.txt-align-center {
  text-align: center
}

.full-width {
  width: 100%;
}

.button-line-common{
  display: inline-flex;
}

.button-line {
  @extend .button-line-common;
  margin-left: auto;
}

.button-line-last{
  @extend .button-line-common;
  margin: auto;
}
