<div class="dialog-container">
  <mat-dialog-content class="welcome-content" *ngIf="screen[0] === 1">
    <img class="woleet-logo" src="assets/images/woleet-logo-white-big.png">
    <h1 class="mat-h1 dialog-title">Welcome to ProofKeeper</h1>
    <h2 class="mat-h2 dialog-subtitle">Timestamp and sign your files dynamically</h2>
  </mat-dialog-content>
  <mat-dialog-content *ngIf="screen[0] === 2">
    <form class="form-content" [formGroup]="wizardTokenFromGroup">
      <h1 class="mat-h1 txt-align-center">Set up authentication to Woleet API</h1>
      <p class="mat-body-1">
        Accessing the Woleet API requires an API token.<br>
        You can create one using your
        <button mat-button color="primary" [style.padding.px]="0" (click)="clickOnProofDesk();">ProofDesk</button>
        account ("Account settings" menu -> "API" tab)
      </p>
      <div>
        <mat-form-field class="full-width">
          <input type="text" matInput placeholder="Woleet API Token" name="token" formControlName="token" required>
          <mat-error *ngIf="wizardTokenFromGroup.get('token').getError('invalidJWTFormat')">Invalid JWT token format
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-content *ngIf="screen[0] === 3">
    <form class="form-content" [formGroup]="wizardIdentityFromGroup">
      <h1 class="mat-h1 txt-align-center">Set up identities for signature</h1>
      <p class="mat-body-1">
        If you want ProofKeeper to sign files and create timestamped proofs of signature, you need to configure at least one signatory identity:
      </p>
      <mat-form-field class="full-width">
        <input matInput placeholder="Name" formControlName="name">
        <mat-error *ngIf="wizardIdentityFromGroup.get('name').getError('nameAlreadyPresent')">Name already present
        </mat-error>
        <button mat-icon-button matSuffix [disableRipple]="true"
                matTooltip="Give a name to the key representing the identity of the legal person committing in signature operation"
                [matTooltipPosition]="'above'" [matTooltipClass]="'tooltip'" [style.font-size.px]="20">
          <mat-icon>help</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Woleet.ID Server signature API URL" formControlName="url"
               (ngModelChange)="onURLTokenChanges();">
        <mat-hint>ex: https://identity.acme.com:3002/</mat-hint>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Woleet.ID Server API Token" formControlName="token"
               (ngModelChange)="onURLTokenChanges();">
        <button mat-icon-button matSuffix [disableRipple]="true"
                matTooltip="To be found in Woleet.ID Server configuration menu"
                [matTooltipPosition]="'above'" [matTooltipClass]="'tooltip'" [style.font-size.px]="20">
          <mat-icon>help</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button color="primary" *ngIf="pubKeyAddressGroup.length === 0"
              (click)="onClickCheckwIDConnection();">
        Select a key from Woleet.ID Server
      </button>
      <mat-form-field class="full-width" *ngIf="pubKeyAddressGroup.length !== 0">
        <mat-select placeholder="Public key" formControlName="pubKey">
          <mat-optgroup *ngFor="let group of pubKeyAddressGroup" [label]="group.user">
            <mat-option *ngFor="let pubKeyAddress of group.pubKeyAddress" [value]="pubKeyAddress.address">
              {{pubKeyAddress.key}} - {{pubKeyAddress.address}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <span class="add-identity-span">
    <button mat-fab color="primary" [disabled]="wizardIdentityFromGroup.invalid" (click)="saveIdentityForm();">
      <mat-icon [inline]="true" [style.font-size.px]="48">add</mat-icon>
    </button>
    <span class="mat-h3 add-identity-text">Add identity</span>
  </span>
    </form>
  </mat-dialog-content>
  <mat-dialog-content class="welcome-content" *ngIf="screen[0] === 4">
    <img class="woleet-logo" src="assets/images/woleet-logo-white-big.png">
    <h1 class="mat-h1 dialog-title">Congratulations!</h1>
    <h2 class="mat-h2 dialog-subtitle">You can now configure the folders for timestamping and signature</h2>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div [ngClass]="(screen[0] !== 4)?'button-line':'button-line-last'">
      <button mat-raised-button color="primary" *ngIf="screen[0] === 1" (click)="nextPage();">
        Start configuration
      </button>
      <button mat-raised-button color="primary" *ngIf="screen[0] === 2" [disabled]="wizardTokenFromGroup.invalid"
              (click)="saveTokenForm();">
        Next
      </button>
      <button mat-raised-button color="primary" *ngIf="screen[0] === 3" (click)="nextPage();">Next</button>
      <button mat-raised-button color="primary" *ngIf="screen[0] === 4" (click)="closeDialog();" class="last-button">
        OK
      </button>
      <button mat-raised-button *ngIf="screen[0] !== 4" (click)="closeDialog();">Skip</button>
    </div>
  </mat-dialog-actions>
</div>
