<div class="modal">
  <div class="modal-content big-modal text-center">
    <div *ngIf="screen[0] === 1">
      <img class="woleet-logo" src="assets/images/woleet-logo-white-big.png" />
      <h1 class="dialog-title">
        {{ translations.wizard.welcome | translate }}
      </h1>
      <div class="dialog-subtitle">
        {{ translations.wizard.subtitle | translate }}
      </div>
    </div>
    <div *ngIf="screen[0] === 2">
      <form class="form-content" [formGroup]="wizardTokenFormGroup">
        <h1 class="text-center">
          {{ translations.commons.setupAuthenticationToWoleetAPI | translate }}
        </h1>
        <p>
          <span
            [innerHTML]="translations.wizard.instruction | translate"
          ></span>
          <a class="fake-href" (click)="clickOnDashboard()">{{
            translations.wizard.link | translate
          }}</a>
        </p>
        <div class="input-section no-mb">
          <input
            type="text"
            class="default-input"
            [ngClass]="{
              'is-invalid': wizardTokenFormGroup
                .get('token')
                .getError('invalidJWTFormat')
            }"
            [placeholder]="
              translations.commons.labelNames.woleetAPIToken | translate
            "
            formControlName="token"
          />
        </div>
        <div
          class="input-error"
          *ngIf="wizardTokenFormGroup.get('token').getError('invalidJWTFormat')"
        >
          {{ translations.commons.errors.invalidJWTTokenFormat | translate }}
        </div>
      </form>
    </div>
    <div *ngIf="screen[0] === 3">
      <form class="form-content" [formGroup]="wizardIdentityFormGroup">
        <h1 class="text-center">
          {{ translations.wizard.setupIdentities | translate }}
        </h1>
        <p>
          {{ translations.wizard.setupIdentityInstruction | translate }}
        </p>

        <div class="input-section no-mb">
          <input
            type="text"
            class="default-input"
            [placeholder]="translations.commons.labelNames.name | translate"
            [ngClass]="{
              'is-invalid': wizardIdentityFormGroup
                .get('name')
                .getError('nameAlreadyPresent')
            }"
            formControlName="name"
          />
          <button
            class="btn btn-without-background btn-inside-input"
            [appTooltip]="translations.commons.tooltips.giveName | translate"
            tabindex="-1"
          >
            <i class="icon-help_circle_icon"></i>
          </button>
        </div>
        <div
          class="input-error"
          *ngIf="
            wizardIdentityFormGroup.get('name').getError('nameAlreadyPresent')
          "
        >
          {{ translations.commons.errors.nameAlreadyPresent | translate }}
        </div>

        <div class="input-section no-mb">
          <input
            type="text"
            class="default-input"
            [placeholder]="
              translations.commons.labelNames.widsSignatureAPIURL | translate
            "
            formControlName="url"
            (ngModelChange)="onURLTokenChanges()"
          />
        </div>

        <div class="input-section">
          <input
            type="text"
            class="default-input"
            [placeholder]="
              translations.commons.labelNames.widsAPIToken | translate
            "
            formControlName="token"
            (ngModelChange)="onURLTokenChanges()"
          />

          <button
            class="btn btn-without-background btn-inside-input"
            [appTooltip]="translations.commons.tooltips.askAdmin | translate"
            tabindex="-1"
          >
            <i class="icon-help_circle_icon"></i>
          </button>
        </div>
        <button
          class="btn btn-primary mt"
          *ngIf="pubKeyAddressGroup.length === 0"
          (click)="onClickCheckwIDConnectionGetAvailableKeys()"
        >
          {{ translations.commons.buttons.selectKeyFromWids | translate }}
        </button>

        <app-custom-select
          *ngIf="pubKeyAddressGroup.length !== 0"
          [labelName]="translations.commons.labelNames.publicKey | translate"
          [options]="pubKeyAddressGroup"
          [forPublicKeyMode]="true"
          [selectedOption]="getSelectedPubKeyName()"
          (onChangeOption)="onPubKeyChange($event)"
          [onError]="wizardIdentityFormGroup.get('pubKey').invalid"
        >
        </app-custom-select>
      </form>
    </div>
    <div *ngIf="screen[0] === 4">
      <img class="woleet-logo" src="assets/images/woleet-logo-white-big.png" />
      <h1 class="dialog-title">
        {{ translations.wizard.congratulations | translate }}
      </h1>
      <div class="dialog-subtitle">
        {{ translations.wizard.congratulationSubtitle | translate }}
      </div>
    </div>
    <div class="modal-action-btn">
      <button
        class="btn btn-primary"
        (click)="onButtonClick()"
        [disabled]="
          screen[0] === 2
            ? wizardTokenFormGroup.invalid
            : screen[0] === 3
            ? wizardIdentityFormGroup.invalid
            : null
        "
      >
        {{ getButtonText() }}
      </button>
      <button class="btn ml" *ngIf="screen[0] !== 4" (click)="closeDialog()">
        {{ translations.commons.buttons.skip | translate }}
      </button>
    </div>
  </div>
</div>
