<div class="logs-container">
  <mat-card>
    <mat-form-field [style.width.%]="100">
      <mat-select placeholder="Logs of folder" [(ngModel)]="folder">
        <mat-option *ngFor="let folder of folders" [value]="folder">
          {{folder.action}} {{folder.path}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <table mat-table [dataSource]="folder.logs" [style.width.%]="100" id="logTable">
      <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef [style.padding-left.px]="6" [style.padding-right.px]="6"> Level </th>
        <td mat-cell *matCellDef="let logLine" [style.padding-left.px]="6" [style.padding-right.px]="6">
           {{logLine.level}}
        </td>
      </ng-container>
      <ng-container matColumnDef="msg">
        <th mat-header-cell *matHeaderCellDef [style.padding-left.px]="6" [style.padding-right.px]="6"> Message </th>
        <td mat-cell *matCellDef="let logLine" [style.padding-left.px]="6" [style.padding-right.px]="6">
          {{logLine.msg}}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</div>
