<div class="card card-part" *ngIf="folders.length !== 0">
  <app-custom-select
    [labelName]="translations.logs.logsOfFolder | translate"
    [options]="folders"
    [selectedOption]="folder | logPipe"
    [activeLogPipe]="true"
    (onChangeOption)="folder = $event"
  >
  </app-custom-select>

  <table class="mt" *ngIf="folder?.logContext?.logs?.length">
    <!-- Column names -->
    <thead>
      <tr>
        <th class="column-name sortable" (click)="sortByLevel()">
          {{ translations.logs.level | translate }}
          <span class="icon-play active" [ngClass]="{'isAsc': isSorting}"></span>
        </th>
        <th class="column-name">
          {{ translations.logs.message | translate }}
        </th>
      </tr>
    </thead>

    <!-- Rows of proofs -->
    <tbody>
      <tr *ngFor="let logLine of folder.logContext.logs">
        <td
          [ngClass]="{
            alert: logLine.level === 'error' || logLine.level === 'fatal'
          }"
        >
          {{ logLine.level }}
        </td>
        <td
          [ngClass]="{
            alert: logLine.level === 'error' || logLine.level === 'fatal'
          }"
        >
          {{ logLine.msg }}
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!folder?.logContext?.logs?.length" class="no-log">
    {{ translations.logs.noLog | translate }}
  </div>
</div>
<div class="card" *ngIf="folders.length === 0">
  <h1>
    {{ translations.logs.noConfiguredFolders | translate }}
  </h1>
</div>
