<div class="card card-part" *ngIf="folders.length !== 0">
  <select class="default-input mb" [ngModel]="folder" (ngModelChange)="folder = $event">
    <option selected disabled>{{ translations.logs.logsOfFolder | translate }}</option>
    <option *ngFor="let folder of folders" [ngValue]="folder" >
      {{ translateLegacyAction(folder.action) }} {{ folder.path }}
    </option>
  </select>

  <table>
    <!-- Column names -->
    <thead>
      <tr>
        <th class="column-name">
          {{ translations.logs.level | translate }}
        </th>
        <th class="column-name">
          {{ translations.logs.message | translate }}
        </th>
      </tr>
    </thead>

    <!-- Rows of proofs -->
    <tbody>
      <tr *ngFor="let logLine of folder.logContext.logs">
        <td
          [ngClass]="{
            alert: logLine.level === 'error' || logLine.level === 'fatal'
          }"
        >
          {{ logLine.level }}
        </td>
        <td
          [ngClass]="{
            alert: logLine.level === 'error' || logLine.level === 'fatal'
          }"
        >
          {{ logLine.msg }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="card" *ngIf="folders.length === 0">
  <h1 class="mat-h1">
    {{ translations.logs.noConfiguredFolders | translate }}
  </h1>
</div>
