<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav" [disableClose]="true" [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0">
    <mat-nav-list>
      <a (click)="setActiveFiles();" class="menubutton">
        <i class="material-icons menubutton-icon" [ngClass]="{'active' : active === 'insert_drive_file'}">insert_drive_file</i>
      </a>
      <a (click)="setActiveFolders();" class="menubutton">
        <i class="material-icons menubutton-icon" [ngClass]="{'active' : active === 'folders'}">folder</i>
      </a>
      <a (click)="setActiveSettings();" class="menubutton">
        <i class="material-icons menubutton-icon" [ngClass]="{'active' : active === 'settings'}">settings</i>
      </a>
      <a (click)="setActiveLogs();" class="menubutton">
        <i class="material-icons menubutton-icon" [ngClass]="{'active' : active === 'logs'}">code</i>
      </a>
      <a (click)="setActiveInfos();" class="menubutton">
        <i class="material-icons menubutton-icon" [ngClass]="{'active' : active === 'infos'}">info</i>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="container mainscreen">
    <div class="screen-container" *ngIf="active === 'insert_drive_file'">
      <app-files></app-files>
    </div>
    <div class="screen-container" *ngIf="active === 'folders'">
      <app-folders></app-folders>
    </div>
    <div class="screen-container" *ngIf="active === 'settings'">
      <app-settings></app-settings>
    </div>
    <div class="screen-container" *ngIf="active === 'logs'">
      <app-logs></app-logs>
    </div>
    <div class="screen-container" *ngIf="active === 'infos'">
      <app-infos></app-infos>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
