@import '../scss/variables';

.app-body {
  height: 100%;
  display: flex;
  flex-direction: column;

  .sidebar {
    min-height: 100%;
    transition: all 0.2s;
    position: absolute;
    z-index: 10;
    background: $color-grey-light-01;
    border-right: $main-border-width solid $color-grey-light-02;
    display: flex;
    flex-direction: column;
    width: $sidebar-width;
  }

  .menu-button {
    color: $text-color;
    cursor: pointer;

    &:hover {
      color: $main-color;
      background: $color-grey-light-02;
      border-color: $color-grey-light-border;
    }

    &.active {
      background: $color-grey-light-02;
      border-left: solid 4px $main-color;
      color: $main-color;
    }
  }

  .menu-button-icon {
    font-size: calc($sidebar-width / 2);
    width: 100%;
    height: $sidebar-width;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-screen {
    overflow: auto;
    padding: 2vh 2vw;
    margin-left: $sidebar-width;
    height: 100%;
  }
}