<div class="app-body">
  <div class="sidebar">
    <a
      (click)="setActiveFolders()"
      class="menu-button"
      [ngClass]="{ active: active === 'folders' }"
    >
      <i class="icon-folder menu-button-icon"></i>
    </a>
    <a
      (click)="setActiveSettings()"
      class="menu-button"
      [ngClass]="{ active: active === 'settings' }"
    >
      <i class="icon-settings menu-button-icon"></i>
    </a>
    <a
      (click)="setActiveLogs()"
      class="menu-button"
      [ngClass]="{ active: active === 'logs' }"
    >
      <i class="icon-code menu-button-icon"></i>
    </a>
    <a
      (click)="setActiveInfos()"
      class="menu-button"
      [ngClass]="{ active: active === 'infos' }"
    >
      <i class="icon-info menu-button-icon"></i>
    </a>
  </div>
  <div class="main-screen">
    <app-folders *ngIf="active === 'folders'"></app-folders>
    <app-settings *ngIf="active === 'settings'"></app-settings>
    <app-logs *ngIf="active === 'logs'"></app-logs>
    <app-infos *ngIf="active === 'infos'"></app-infos>
  </div>
</div>

<app-deeplink
  *ngIf="openDeeplinkDialog"
  [deeplinkingUrl]="deeplinkingUrl"
  (exitDialog)="onExitDialog()"
></app-deeplink>

<app-wizard
  *ngIf="openWizardDialog"
  (exitDialog)="onExitDialog()"
></app-wizard>
