<div class="row">
  <nav class="col sidebar">
    <a (click)="setActiveFolders();">
      <i class="fas fa-folder-open" [ngClass]="{'active' : active === 'folders'}" ></i>
    </a> 
    <a (click)="setActiveSettings();">
      <i class="fas fa-cog" [ngClass]="{'active' : active === 'settings'}" ></i>
    </a> 
    <a  (click)="setActiveTerm();">
      <i class="fas fa-terminal" [ngClass]="{'active' : active === 'term'}"></i>
    </a> 
  </nav>
  <div class="col screenContainer" *ngIf="active === 'folders'">
    <app-folders></app-folders>
  </div>
  <div class="col screenContainer" *ngIf="active === 'settings'">
    <app-settings></app-settings>
  </div>
  <div class="col screenContainer" *ngIf="active === 'term'">

  </div>
</div>
