<div class="modal fade-in">
  <div class="modal-content big-modal">
    <div class="full-width" *ngIf="screen === 0">
      <h1 class="mat-h1 txt-align-center">
        {{ translations.deeplink.invalidConf | translate }}
      </h1>
      <p>{{ translations.deeplink.pleaseCheck | translate }}<br /></p>
    </div>

    <div class="full-width" *ngIf="screen === 1">
      <h1 class="mat-h1 txt-align-center">
        {{ translations.commons.setupAuthenticationToWoleetAPI | translate }}
      </h1>
      <div>
        <p>
          {{ translations.deeplink.providedWoleetAPIToken | translate }}<br />
        </p>
        <div class="card card-part">
          {{ woleetToken }}
        </div>
        <hr *ngIf="woleetUrl">
        <p *ngIf="woleetUrl">
          {{ translations.deeplink.providedWoleetURL | translate }}
        </p>
        <div class="card card-part" *ngIf="woleetUrl">
          {{ woleetUrl }}
        </div>
      </div>
    </div>

    <div class="full-width" *ngIf="screen === 2">
      <h1
        class="mat-h1 txt-align-center"
        *ngIf="pubKeyAddressGroup.length === 0"
      >
        {{ translations.deeplink.setupAuthenticationToWids | translate }}
      </h1>
      <div *ngIf="pubKeyAddressGroup.length === 0">
        <p>
          {{ translations.deeplink.providedWidsAPIToken | translate }}<br />
        </p>
        <div class="card card-part">
          {{ widsToken }}
        </div>
        <hr *ngIf="widsUrl">
        <p *ngIf="widsUrl">
          {{ translations.deeplink.providedWidsURL | translate }}
        </p>
        <div class="card card-part">
          {{ widsUrl }}
        </div>
      </div>
      <form [formGroup]="widsFormGroup" *ngIf="pubKeyAddressGroup.length !== 0">
        <div class="input-section no-mb">
          <input
            type="text"
            class="default-input"
            [ngClass]="{
              'is-invalid': widsFormGroup
                .get('name')
                .getError('nameAlreadyPresent')
            }"
            [placeholder]="translations.commons.labelNames.name | translate"
            formControlName="name"
          />

          <button
            class="btn btn-without-background btn-inside-input"
            [appTooltip]="translations.commons.tooltips.giveName | translate"
          >
            <i class="icon-help_circle_icon"></i>
          </button>
        </div>
        <div
          class="input-error"
          *ngIf="widsFormGroup.get('name').getError('nameAlreadyPresent')"
        >
          {{ translations.commons.errors.nameAlreadyPresent | translate }}
        </div>
        <div class="input-section">
          <app-custom-select
          *ngIf="pubKeyAddressGroup.length !== 0"
          [labelName]="translations.commons.labelNames.publicKey | translate"
          [options]="pubKeyAddressGroup"
          [forPublicKeyMode]="true"
          [selectedOption]="getSelectedPubKeyName()"
          (onChangeOption)="onPubKeyChange($event)"
          [onError]="widsFormGroup.get('pubKey').invalid"
        >
        </app-custom-select>
        </div>
    
      </form>
    </div>

    <div class="modal-action-btn">
      <button
        class="btn btn-primary"
        (click)="onButtonClick()"
        [disabled]="
          screen === 2 && pubKeyAddressGroup.length !== 0
            ? widsFormGroup.invalid
            : null
        "
      >
        {{ getButtonText() }}
      </button>
      <button
        class="btn ml"
        *ngIf="screen === 1 || screen === 2"
        (click)="closeDialog()"
      >
        {{ translations.commons.buttons.cancel | translate }}
      </button>
    </div>
  </div>
</div>
