.dialog-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mat-dialog-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 90vh;
  align-items: center;
  overflow: unset;
}

.dialog-title {
  font-size: 2em;
  margin-top: 20vh;
}

.dialog-subtitle {
  font-size: 1em;
}

.full-width {
  width: 100%;
}

.mat-card-token {
  width: 50vh;
  overflow-x: scroll;
  white-space: nowrap;
}

.button-line{
  display: inline-flex;
  margin: auto;
}
