<div class="card">
  <p class="info-title">{{ translations.infos.versions | translate }}</p>
  <p>{{ proofKeeperVersion }}</p>
  <p>{{ cliVersion }}</p>
  <hr />
  <p class="info-title">{{ translations.infos.links | translate }}</p>
  <p>
    <a class="fake-href" (click)="clickOnGithub()">Github</a>
  </p>
  <p>
    <a class="fake-href" (click)="clickOnWoleet()">Woleet</a>
  </p>
  <p>
    <a class="fake-href" (click)="clickOnLicense()">{{
      translations.infos.licence | translate
    }}</a>
  </p>
</div>
