<div class="card">
  <div class="flex-tab align-to-btn">
    <div class="fill-max-content">
      <a
        class="custom-tab-button"
        [ngClass]="{ active: isOnAnchorTab() }"
        (click)="changeTab()"
      >
        <i class="icon icon-clock"></i>
        <span class="ml-1">{{
          translations.files.tabs.anchor | translate
        }}</span>
      </a>
      <a
        class="custom-tab-button"
        [ngClass]="{ active: isOnSignTab() }"
        (click)="changeTab()"
      >
        <i class="icon icon-seal"></i>
        <span class="ml-1">{{ translations.files.tabs.sign | translate }}</span>
      </a>
      <hr class="hr-tab" />
    </div>
  </div>
  <div *ngIf="!fileHash" class="default-text">
    <div
      [innerHTML]="
        translations.files.introText[getCurrentMode()]
          | translate: { pathFolder: proofReceiptsOfManualOperationsFolder }
      "
    ></div>

    <div
      class="dropzone"
      appDragDrop
      (fileDropped)="onFileDropped($event)"
      (startDropping)="isDroppingAFile = true"
      (stopDropping)="isDroppingAFile = false"
      [ngClass]="{ 'is-dropping': isDroppingAFile }"
      (click)="$event.stopPropagation()"
      (mouseover)="isDroppingAFile = true"
      (mouseout)="isDroppingAFile = false"
    >
      <input
        #fileInput
        type="file"
        (change)="onSelectedFile($event); fileInput.value = null"
        class="dropzone-file-input"
        [ngClass]="{ 'not-clickable': isHashing }"
      />
      <div *ngIf="!isHashing">
        <i
          class="icon-create_document drop-icon"
          [ngClass]="{ 'is-dropping': isDroppingAFile }"
        ></i>
        <div
          class="drop-text"
          [innerHTML]="translations.files.dropFile | translate"
        ></div>
      </div>

      <div *ngIf="isHashing">
        <img src="assets/images/loading-woleet-api.svg" />
        <div class="hash-progress">{{ progress | percent }}</div>
        <div class="hash-text">
          <em>{{ translations.files.hashing | translate }}</em>
        </div>
        <button (click)="cancelFileHash()" class="btn cancel-file-hash">
          {{ translations.commons.buttons.cancel | translate }}
        </button>
      </div>
    </div>
  </div>
  <form [formGroup]="fileFormGroup" *ngIf="fileHash">
    <div *ngIf="getCurrentMode() === 'sign'" class="select-identity">
      <app-custom-select
        [labelName]="translations.commons.labelNames.identityToUse | translate"
        [options]="getIdentityNames()"
        [onError]="
          fileFormGroup.get('identity').invalid ||
          errorOnSelectIdentity(fileFormGroup)
        "
        [selectedOption]="
          fileFormGroup.get('identity').value ||
          (translations.commons.labelNames.select | translate)
        "
        (onChangeOption)="fileFormGroup.get('identity').setValue($event)"
      >
      </app-custom-select>
      <div *ngIf="errorOnSelectIdentity(fileFormGroup)" class="input-error">
        {{ errorTextOnSelectIdentity(fileFormGroup) }}
      </div>
    </div>

    <div class="input-section">
      <div class="input-label">
        {{ translations.commons.labelNames.name | translate }}
      </div>
      <input
        type="text"
        class="default-input"
        [ngClass]="{
          'is-invalid': fileFormGroup.get('name').invalid
        }"
        [placeholder]="translations.commons.labelNames.name | translate"
        formControlName="name"
      />
    </div>

    <div class="input-label">
      {{ translations.commons.labelNames.tags | translate }}
    </div>
    <div class="default-input tag-input">
      <button *ngFor="let tag of tags" class="btn btn-tag">
        {{ tag }}
        <i class="icon-clear delete-tag" (click)="removeTag(tag)"></i>
      </button>
      <input
        type="text"
        class="default-input no-background"
        [placeholder]="translations.files.labels.addTag | translate"
        formControlName="currentTag"
        (keyup.enter)="addTag()"
      />
    </div>

    <div *ngIf="getCurrentMode() === 'sign'" class="input-section add-mb">
      <div class="input-label">
        {{ translations.files.labels.identityURL | translate }}
      </div>
      <input
        type="text"
        class="default-input"
        [placeholder]="translations.files.labels.identityURL | translate"
        formControlName="identityURL"
      />
    </div>

    <label class="checkbox-content add-mt">
      <input type="checkbox" formControlName="public" />
      {{ translations.files.labels.public | translate }}
    </label>

    <div class="collapse add-mt-mb">
      <div
        class="collapse-panel first"
        [ngClass]="{
          selected: openCallbackURLPanel
        }"
        (click)="openCallbackURLPanel = !openCallbackURLPanel"
      >
        <div
          class="collapse-panel-text"
          [ngClass]="{ selected: openCallbackURLPanel }"
        >
          {{ translations.files.labels.callbackURL | translate }}
        </div>
        <i
          class="icon-play for-collapse"
          [ngClass]="!openCallbackURLPanel ? 'selected' : ''"
        ></i>
      </div>
      <div
        *ngIf="openCallbackURLPanel"
        [@collapseAnimation]
        class="collapse-container"
      >
        <div class="input-section">
          <input
            type="text"
            class="default-input"
            [placeholder]="translations.files.labels.url | translate"
            formControlName="callbackURL"
          />
        </div>

        <button
          type="button"
          class="btn btn-primary mr"
          [disabled]="!fileFormGroup.get('callbackURL').value"
          (click)="testCallbackURL()"
        >
          {{ translations.files.labels.testURL | translate }}
        </button>

        <div
          *ngIf="anchorCallbackResult"
          class="card test-url-response"
          [ngClass]="
            anchorCallbackResult.status >= 200 &&
            anchorCallbackResult.status <= 299
              ? 'success'
              : 'error'
          "
        >
          <div *ngIf="!!anchorCallbackResult.status">
            {{ translations.commons.labelNames.status | translate }}
            {{ anchorCallbackResult.status }}
          </div>
          <div *ngIf="!!anchorCallbackResult.message">
            {{ translations.commons.labelNames.content | translate }}
            {{ anchorCallbackResult.message }}
          </div>
        </div>
      </div>

      <div
        class="collapse-panel"
        [ngClass]="{
          selected: openMetadataPanel
        }"
        (click)="openMetadataPanel = !openMetadataPanel"
      >
        <div
          class="collapse-panel-text"
          [ngClass]="{ selected: openMetadataPanel }"
        >
          {{ translations.files.labels.metadata | translate }}
        </div>
        <i
          class="icon-play for-collapse"
          [ngClass]="!openMetadataPanel ? 'selected' : ''"
        ></i>
      </div>
      <div
        *ngIf="openMetadataPanel"
        [@collapseAnimation]
        class="collapse-container"
      >
        <ul class="metadata">
          <li *ngFor="let data of metadata | keyvalue">
            <div class="key-value">
              {{ data.key }}: {{ data.value }}
              <i
                class="icon-trash delete-metadata"
                (click)="deleteMetadata(data.key)"
              ></i>
            </div>
          </li>
        </ul>

        <div class="d-flex">
          <div class="input-section">
            <div class="input-label">
              {{ translations.commons.labelNames.name | translate }}
            </div>
            <input
              type="text"
              class="default-input"
              [placeholder]="translations.commons.labelNames.name | translate"
              formControlName="metadataName"
              (keyup.enter)="metadataIsValid() ? addMetadata() : null"
            />
          </div>
          <div class="input-section ml">
            <div class="input-label">
              {{ translations.commons.labelNames.value | translate }}
            </div>
            <input
              type="text"
              class="default-input"
              [placeholder]="translations.commons.labelNames.value | translate"
              formControlName="metadataValue"
              (keyup.enter)="metadataIsValid() ? addMetadata() : null"
            />
          </div>
        </div>
        <button
          type="button"
          class="btn btn-primary"
          (click)="addMetadata()"
          [disabled]="!metadataIsValid()"
        >
          <i class="icon-add"></i>
          {{ translations.commons.labelNames.add | translate }}
        </button>
      </div>
    </div>

    <div class="align-right">
      <div>
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="fileFormGroup.invalid || !apiToken"
          (click)="onSubmit()"
        >
          {{ translations.files.buttons[getCurrentMode()] | translate }}
        </button>
        <button type="button" class="btn btn-danger ml" (click)="onCancel()">
          {{ translations.commons.buttons.cancel | translate }}
        </button>
      </div>
      <div *ngIf="!apiToken" class="no-api-token">
        {{ translations.commons.errors.noApiToken | translate }}
      </div>
    </div>
  </form>
</div>
