@import '../../scss/variables';

.default-text {
  margin: $standard-space * 2;
  line-height: 1.5;
}

.dropzone {
  margin-top: $standard-space * 3;
  margin-bottom: $standard-space * 3;
  height: 400px;
  border: 2px dashed $color-grey-light-border;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  transition: all 0.3s;

  &.is-dropping {
    border-color: $main-color;
  }

  .dropzone-file-input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.not-clickable {
  pointer-events: none;
}

.hash-progress {
  margin-top: -50px;
  font-size: smaller;
}

.hash-text {
  margin-top: 50px;
}

.cancel-file-hash {
  margin-top: $standard-space * 2;
}

.drop-icon {
  font-size: 75px;
  height: 100%;
  width: 100%;
  transition: all 0.3s;

  &.is-dropping {
    color: $main-color;
  }
}

.drop-text {
  margin-top: $standard-space;
}

.collapse {
  .value {
    margin-left: $standard-space * 2;
  }

  .metadata {
    margin: 0;
    line-height: 2;
  }

  .delete-metadata {
    cursor: pointer;
    margin-left: $standard-space * 2;

    &:hover {
      color: $color-state-error;
    }
  }

  .key-value {
    display: flex;
    align-items: center;
  }

  .test-url-response {
    font-family: monospace;
    word-break: break-word;
    margin-top: $standard-space * 2;
    background-color: $color-white;

    &.success {
      color: $color-state-available;
    }

    &.error {
      color: $color-state-error;
    }
  }
}

.no-api-token {
  margin-top: $standard-space;
  font-style: italic;
  font-size: smaller;
}