button {
  font-family: inherit;
}

.btn {
  color: $color-text-button;
  padding: 10px 12px;
  border: calc($main-border-width / 2) solid $color-grey-light-border;
  border-radius: $standard-space;
  font-weight: $font-weight-medium;
  font-size: $default-font-size - 1;
  white-space: nowrap;
  background-color: $color-white;
  cursor: pointer;

  &:hover {
    background-color: $color-grey-light-01;
  }

  &.btn-danger {
    color: $color-state-error;
    border-color: $color-state-error;

    &:hover {
      color: $color-white;
      background-color: $color-state-error;
    }
  }

  &.btn-success {
    color: $color-state-available;
    border-color: $color-state-available;

    &:hover {
      color: $color-white;
      background-color: $color-state-available;
    }
  }

  &.btn-smaller {
    font-size: 10px;
    padding: 6px 10px;
  }

  &:focus {
    box-shadow: unset;
  }

  &:disabled,
  &.disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &.btn-large {
    width: 400px;
    max-width: 100%;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  &.btn-primary {
    color: $color-white;
    border-color: $main-color;
    background-color: $main-color;
    border-radius: $main-border-radius;

    &:hover {
      background-color: lighten($main-color, 5%);
    }

    &.outline {
      color: $main-color;
      background-color: $color-white;

      &:hover {
        color: $color-white;
        background-color: $main-color;
      }
    }
  }

  &.btn-outline-default {
    border: $main-border-width solid $color-grey-light-border;
    background-color: transparent;

    &:hover {
      background-color: $color-grey-light-01;
    }
  }

  &.btn-outline-white {
    border-radius: $main-border-radius;
    border: 1px solid $color-grey-light-border;
    background: transparent;
    padding: 10px 16px;
    align-items: center;

    &:hover {
      background-color: $color-grey-light-01;
    }
  }

  &.btn-info {
    color: $color-white;
    background-color: $color-secondary  !important;
    border-color: $color-secondary  !important;

    &:hover {
      background-color: lighten($color-secondary, 2%) !important;
    }
  }

  &.btn-warn {
    background-color: $color-state-warning  !important;

    &:hover {
      background-color: lighten($color-state-warning, 2%) !important;
    }
  }

  &.btn-rounded {
    line-height: 0;
    border-radius: 50% !important;
    padding: $standard-space * 2 - 4;
  }

  &.btn-without-background {
    border: 0;
    padding: 0;
    background-color: transparent;

    &:hover {
      color: $color-secondary;
      background-color: transparent;
    }
  }

  &.btn-without-shadow-onfocus:focus {
    box-shadow: 0 0 0 0;
  }

  &.btn-tag {
    padding: 1px $standard-space;
    margin: calc($standard-space / 2);
    display: inline-flex;
    align-items: center;
    cursor: text;

    .delete-tag {
      cursor: pointer;
      padding: calc($standard-space / 2);
      padding-left: $standard-space;

      &:hover {
        color: $color-state-error;
      }
    }
  }
}