.card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-word;
  border: $main-border-width solid $color-grey-light-02;
  border-radius: 0.5rem;
  padding: $standard-space * 4;
  transition: all 0.25s ease-in-out;

  &.card-part {
    margin-bottom: $standard-space * 4;
  }
}