// No margins
.no-m {
  margin: 0;
}

.no-mt {
  margin-top: 0;
}

.no-mb {
  margin-bottom: 0;
}

.no-ml {
  margin-left: 0;
}

.no-mr {
  margin-right: 0;
}

// No paddings
.no-p {
  padding: 0;
}

.no-pt {
  padding-top: 0;
}

.no-pb {
  padding-bottom: 0;
}

.no-pl {
  padding-left: 0;
}

.no-pr {
  padding-right: 0;
}

// Add margins
.mt {
  margin-top: $standard-space;
}

.mb {
  margin-bottom: $standard-space;
}

.ml {
  margin-left: $standard-space;
}

.mr {
  margin-right: $standard-space;
}

// Add paddings
.pt {
  padding-top: $standard-space;
}

.pb {
  padding-bottom: $standard-space;
}

.pl {
  padding-left: $standard-space;
}

.pr {
  padding-right: $standard-space;
}

hr {
  width: 100%;
  border: 0;
  border-top: $main-border-width solid $color-grey-light-02;

  &.hr-tab {
    margin-top: 11px;
    margin-bottom: $standard-space * 2;


    &.disabled-tab-with-tooltip {
      margin-top: 2px;
    }
  }
}

.link {
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: $color-secondary;
  }
}

.d-flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.justify-content-center {
  justify-content: center;
}

.icon-btn {
  top: 6px;
  font-size: 14px;
}

.align-right {
  text-align: right;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.full-width {
  width: 100%;
}

.align-end {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.text-center {
  text-align: center
}

h1 {
  font-weight: $default-font-weight;
  margin: $standard-space * 3 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  margin-bottom: $standard-space * 3;
  font-weight: $default-font-weight;
}

b {
  font-weight: $default-font-weight;
}

.input-with-close-icon {
  position: relative;
  width: 100%;
}

.select-identity {
  margin-top: $standard-space * 2;
  margin-bottom: $standard-space * 2;
}