// No margins
.no-m {
  margin: 0;
}

.no-mt {
  margin-top: 0;
}

.no-mb {
  margin-bottom: 0;
}

.no-ml {
  margin-left: 0;
}

.no-mr {
  margin-right: 0;
}

// No paddings
.no-p {
  padding: 0;
}

.no-pt {
  padding-top: 0;
}

.no-pb {
  padding-bottom: 0;
}

.no-pl {
  padding-left: 0;
}

.no-pr {
  padding-right: 0;
}

// Add margins
.mt {
  margin-top: $standard-space;
}

.mb {
  margin-bottom: $standard-space;
}

.ml {
  margin-left: $standard-space;
}

.mr {
  margin-right: $standard-space;
}

// Add paddings
.pt {
  padding-top: $standard-space;
}

.pb {
  padding-bottom: $standard-space;
}

.pl {
  padding-left: $standard-space;
}

.pr {
  padding-right: $standard-space;
}

hr {
  width: 100%;
  border: 0;
  border-top: $main-border-width solid $color-grey-light-02;

  &.hr-tab {
    margin-top: 11px;
    margin-bottom: $standard-space * 2;


    &.disabled-tab-with-tooltip {
      margin-top: 2px;
    }
  }
}

.fake-href {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.d-flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}