input {
  outline: none;
  font-family: inherit;
}

input[type='radio']:checked+* {
  font-weight: $default-font-weight;
}

.input-section {
  margin-top: $standard-space * 2;
  margin-bottom: $standard-space * 2;
  width: 100%;
  position: relative;

  &.no-mb {
    margin-bottom: 0;
  }
}

.default-input {
  transition: all 0.3s;
  padding: 10px;
  border: $main-border-width solid $color-grey-light-02;
  border-radius: $standard-space;
  background: $color-white;
  width: 100%;

  &.input-disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &.is-valid-input {

    &:focus,
    &:hover {
      border-color: $color-state-available;
    }

    border-color: $color-state-available;
  }

  &.is-invalid {

    &:focus,
    &:hover {
      border-color: $color-state-error;
    }

    border-color: $color-state-error;
  }

  &:hover {
    border: $main-border-width solid $color-grey-light-border;
  }

  &:focus {
    border: $main-border-width solid $main-color;
  }

  &::placeholder {
    color: $color-grey;
  }

  &.no-background {
    font-size: smaller;
    font-weight: bold;
    word-break: break-word;
    border: none;
    padding: 0;
    background-color: transparent;
  }

  &.input-dropdown-opened {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.btn-inside-input {
  position: absolute;
  top: 12px;
  right: 12px;
}

.input-error {
  color: $color-state-error;
  font-size: smaller;
  margin-top: $standard-space;
}