input {
  outline: none;
  font-family: inherit;
}

input[type='radio']:checked+* {
  font-weight: $default-font-weight;
}

.select-folder-input {
  display: flex;
  align-items: center;
  margin-bottom: $standard-space * 2;
}

.input-label {
  margin-bottom: $standard-space;
  color: $color-text-second;
  font-weight: $font-weight-medium;
  text-align: left;
}

.input-section {
  margin-top: $standard-space * 2;
  margin-bottom: $standard-space * 2;
  width: 100%;
  position: relative;

  &.no-mb {
    margin-bottom: 0;
  }
}

.default-input {
  transition: all 0.3s;
  padding: 10px;
  border: $main-border-width solid $color-grey-light-02;
  border-radius: $standard-space;
  background: $color-white;
  width: 100%;

  &.input-disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &.is-valid-input {

    &:focus,
    &:hover {
      border-color: $color-state-available;
    }

    border-color: $color-state-available;
  }

  &.is-invalid {

    &:focus,
    &:hover {
      border-color: $color-state-error;
    }

    border-color: $color-state-error;
  }

  &:hover {
    border: $main-border-width solid $color-grey-light-border;
  }

  &:focus {
    border: $main-border-width solid $main-color;
  }

  &::placeholder {
    color: $color-grey;
  }

  &.tag-input {
    margin-top: $standard-space * 2;
    margin-bottom: $standard-space * 3;
    padding: 2px $standard-space;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &:focus-within {
      border-color: $main-color;
    }
  }

  &.no-background {
    word-break: break-word;
    border: none;
    padding: $standard-space;
    background-color: transparent;
    flex: 1;
  }

  &.input-dropdown-opened {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.btn-inside-input {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: initial;
}

.input-error {
  color: $color-state-error;
  font-size: smaller;
  margin-top: $standard-space;
}