.flex-tab {
  display: flex;
  flex-wrap: wrap;

  &.align-to-btn {
    align-items: flex-start;
    justify-content: space-between;
  }

  .fill-max-content {
    flex: 1;
  }

  .align-btn-content {
    margin-left: $standard-space;
    display: flex;
    align-items: center;
  }
}

.custom-tab-button {
  background-color: inherit;
  border: 0;
  cursor: pointer;
  padding: 0 15px 9px 15px;

  &.disabled-tab-with-tooltip {
    padding-bottom: 12px;
  }

  @media (max-width: 500px) {
    padding: 0 10px 9px 10px;
  }

  &.active {
    font-weight: $default-font-weight;
    border: solid $main-color;
    border-width: 0 0 $main-border-width * 2 0;
    color: $main-color;
  }

  .icon {
    margin-right: $standard-space;
  }
}
