@import 'variables';
@import 'commons';
@import 'card';
@import 'tab';
@import 'button';
@import 'tooltip';
@import 'modal';
@import 'animations';
@import 'checkbox';
@import 'input';
@import 'table';
@import 'collapse';

html,
body,
.fill-height {
  font-family: Montserrat, sans-serif;
  height: 100%;
  overflow-x: hidden;
  font-size: $default-font-size;
  color: $text-color;
  margin: 0;
}
