<div class="select-title">{{ labelName }}</div>
<div
  class="select-content"
  appClickOutside
  (clickOutside)="showSelectOptions = false"
>
  <input
    type="button"
    class="default-input"
    [ngClass]="{ 'input-dropdown-opened': showSelectOptions }"
    [value]="selectedOption"
    (click)="showSelectOptions = !this.showSelectOptions"
  />
  <i class="icon-play btn-inside-input arrow-icon"></i>

  <div *ngIf="showSelectOptions" class="option-section">
    <div *ngFor="let option of options; let last = last" class="select-option">
      <label [ngClass]="{ last: last }" (click)="changeOption(option)">
        {{
          forLogMode
            ? translateLegacyAction(option.action) + ' ' + option.path
            : option
        }}
      </label>
    </div>
  </div>
</div>
