<div class="input-label">{{ labelName }}</div>
<div
  class="select-content"
  appClickOutside
  (clickOutside)="showSelectOptions = false"
>
  <input
    type="button"
    class="default-input"
    [ngClass]="{
      'input-dropdown-opened': showSelectOptions,
      'is-invalid': onError
    }"
    [value]="selectedOption"
    (click)="showSelectOptions = !this.showSelectOptions"
  />
  <i
    class="icon-play btn-inside-input arrow-icon"
    (click)="showSelectOptions = !this.showSelectOptions"
  ></i>

  <div *ngIf="showSelectOptions && !forPublicKeyMode" class="option-section">
    <div *ngFor="let option of options; let last = last" class="select-option">
      <label
        [ngClass]="{
          last: last,
          'selected-option':
          (activeLangPipe && (option | langPipe) === selectedOption) ||
            (activeLogPipe && (option | logPipe) === selectedOption) ||
            option === selectedOption
        }"
        (click)="changeOption(option)"
      >
        {{
          activeLangPipe
            ? (option | langPipe)
            : activeLogPipe
            ? (option | logPipe)
            : option
        }}
      </label>
    </div>
  </div>

  <div *ngIf="showSelectOptions && forPublicKeyMode" class="option-section">
    <div
      *ngFor="let group of options; let lastGroup = last"
      class="select-option"
    >
      <label class="group-label">
        {{ group.user }}
      </label>
      <label
        *ngFor="
          let pubKeyAddress of group.pubKeyAddress;
          let lastPubKeyAddress = last
        "
        class="group-value"
        [ngClass]="{
          last: lastGroup && lastPubKeyAddress,
          'selected-option': pubKeyAddress.address === selectedOption
        }"
        (click)="changeOption(pubKeyAddress)"
      >
        {{ pubKeyAddress.key }} - {{ pubKeyAddress.address }}
      </label>
    </div>
  </div>
</div>
