.form-content {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.identity-name {
  width: calc(100% - 60px);
  text-align: left;
}

.clear-button {
  margin-top: 5vh;
}

.identity-card {
  margin-top: 50px;
}

.identity-add-button {
  top: 22px;
  z-index: 1;
  float: right;
}

.identity-button{
  margin: 4px;
  margin-top: 8px;
}

.remove-button {
  justify-self: flex-end;
  position: absolute;
  right: 16px;
}

.identity-spacer {
  margin-bottom: 5px;
}

.identity-name {
  background-color: rgba(0, 0, 0, 0.02);
}

.fill-space {
  flex: 1 1 auto;
}