<mat-card>
  <form class="form-content" [formGroup]="settingsFromGroup">
    <mat-form-field>
      <input type="text" matInput placeholder="API Token" name="token" formControlName="token" required>
      <mat-error *ngIf="settingsFromGroup.get('token').getError('invalidJWTFormat')">Invalid JWT Token format</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Override API URL" name="URL" formControlName="url">
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="settingsFromGroup.invalid" (click)="onClickcheckAndSubmit();">Save</button>
  </form>
</mat-card>

<button mat-fab color="primary" class="identity-add-button" (click)="onAddIdentityClick();">
  <mat-icon [inline]="true" [style.font-size.px]="48">add</mat-icon>
</button>

<mat-card class="identity-card" *ngIf="addState">
  <h3 class="mat-h3"> Add identity: </h3>
  <div>
    <form [formGroup]="addIdentityFormGroup">
      <mat-form-field class="full-width">
        <input matInput placeholder="Name" formControlName="name">
        <mat-error *ngIf="addIdentityFormGroup.get('name').getError('nameAlreadyPresent')">Name already present</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="API URL" formControlName="url" (ngModelChange)="onAddURLTokenChanges();">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="API Token" formControlName="token" (ngModelChange)="onAddURLTokenChanges();">
      </mat-form-field>
      <button mat-raised-button color="primary" class="full-width" *ngIf="addPubKeyAddressGroup.length === 0" (click)="onClickAddwIDConnection();">Get identities from ID.Server</button>
      <mat-form-field class="full-width" *ngIf="addPubKeyAddressGroup.length !== 0">
        <mat-select placeholder="Public Key (Optional)" formControlName="pubKey">
          <mat-optgroup *ngFor="let group of addPubKeyAddressGroup" [label]="group.user">
            <mat-option *ngFor="let pubKeyAddress of group.pubKeyAddress" [value]="pubKeyAddress.address">
              {{pubKeyAddress.key}} - {{pubKeyAddress.address}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" [disabled]="addIdentityFormGroup.invalid" (click)="addNewIdentityFromGroup();">Save</button>
    <button mat-raised-button color="warn" (click)="onAddIdentityClick();">Cancel</button>
  </div>
</mat-card>

<mat-card class="identity-card" *ngIf="identityService.arrayIdentityContent.length !== 0">
  <h3 class="mat-h3"> Identities: </h3>
  <mat-list-item *ngFor="let identityContent of identityService.arrayIdentityContent; last as last" role="listitem">
    <div class="identity-spacer" *ngIf="identityOpened !== identityContent.name">
      <button mat-button class='identity-name' (click)="openEditForm(identityContent.name);">{{identityContent.name}}</button>
      <button mat-raised-button color="warn" class="remove-button" 
      (click)="identityService.deleteIdentitySnackbar(identityContent.name, this.foldersConfigService, this.snackBar);">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div class="identity-spacer" *ngIf="identityOpened === identityContent.name">
      <form [formGroup]="editIdentityFormGroup">
        <mat-form-field class="full-width">
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="API URL" formControlName="url" (ngModelChange)="onEditURLTokenChanges();">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="API Token" formControlName="token" (ngModelChange)="onEditURLTokenChanges();">
        </mat-form-field>
        <button mat-raised-button color="primary" class="full-width" *ngIf="editPubKeyAddressGroup.length === 0" (click)="onClickEditwIDConnection();">Get identities from ID.Server</button>
        <mat-form-field class="full-width" *ngIf="editPubKeyAddressGroup.length !== 0">
          <mat-select placeholder="Public Key" formControlName="pubKey">
            <mat-optgroup *ngFor="let group of editPubKeyAddressGroup" [label]="group.user">
              <mat-option *ngFor="let pubKeyAddress of group.pubKeyAddress" [value]="pubKeyAddress.address">
                {{pubKeyAddress.key}} - {{pubKeyAddress.address}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
          <mat-error *ngIf="editIdentityFormGroup.get('pubKey').getError('unableToFindOldKey')">Unable to find old key</mat-error>
        </mat-form-field>
      </form>
      <button mat-raised-button color="primary" [disabled]="editIdentityFormGroup.invalid || editPubKeyAddressGroup.length === 0" (click)="saveEditForm();">Save</button>
      <button mat-raised-button color="warn" class="remove-button" 
      (click)="identityService.deleteIdentitySnackbar(identityContent.name,this.foldersConfigService, this.snackBar);">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-raised-button (click)="closeEditForm();">Cancel</button>
    </div>
  </mat-list-item>
</mat-card>

<div class="clear-button">
  <button mat-raised-button color="warn" (click)="clearSavedSettings();">Reset saved folders and configuration</button>
</div>
