<form class="card card-part" [formGroup]="settingsFormGroup">
  <h3>{{ translations.settings.settingsForWoleetAPI | translate }}</h3>
  <div class="input-section no-mt no-mb">
    <div class="input-label">
      {{ translations.commons.labelNames.woleetAPIToken | translate }}
    </div>
    <input
      type="text"
      class="default-input"
      [ngClass]="{
        'is-invalid': settingsFormGroup
          .get('token')
          .getError('invalidJWTFormat')
      }"
      [placeholder]="translations.commons.labelNames.woleetAPIToken | translate"
      formControlName="token"
    />
  </div>
  <div
    class="input-error"
    *ngIf="settingsFormGroup.get('token').getError('invalidJWTFormat')"
  >
    {{ translations.commons.errors.invalidJWTTokenFormat | translate }}
  </div>
  <div class="input-section">
    <div class="input-label">
      {{ translations.settings.overrideWoleetAPIURL | translate }}
    </div>
    <input
      type="text"
      class="default-input"
      [placeholder]="translations.settings.overrideWoleetAPIURL | translate"
      formControlName="url"
    />
  </div>

  <button
    class="btn btn-primary"
    [disabled]="settingsFormGroup.invalid"
    (click)="onClickCheckAndSubmit()"
  >
    {{ translations.commons.buttons.save | translate }}
  </button>
</form>

<form class="card card-part" [formGroup]="folderPathFormGroup">
  <h3>
    {{
      translations.commons.labelNames[DEFAULT_VALUE_MANUAL_OPERATION_FOLDER]
        | translate
    }}
  </h3>
  <div class="select-folder-input">
    <div class="input-with-close-icon">
      <input
        type="text"
        class="default-input"
        [placeholder]="
          translations.commons.labelNames[DEFAULT_VALUE_MANUAL_OPERATION_FOLDER]
            | translate
        "
        [formControlName]="DEFAULT_VALUE_MANUAL_OPERATION_FOLDER"
      />
      <button
        *ngIf="
          folderPathFormGroup.get(DEFAULT_VALUE_MANUAL_OPERATION_FOLDER).value
        "
        (click)="resetPath(DEFAULT_VALUE_MANUAL_OPERATION_FOLDER)"
        class="btn btn-without-background btn-inside-input"
      >
        <i class="icon-close mr"></i>
      </button>
    </div>
    <button
      class="btn btn-primary outline ml"
      (click)="onClickPopUpDirectory(DEFAULT_VALUE_MANUAL_OPERATION_FOLDER)"
      [appTooltip]="translations.settings.selectFolder | translate"
    >
      <i class="icon-folder-open"></i>
    </button>
  </div>
</form>

<div class="card card-part" *ngIf="addState">
  <h3>{{ translations.settings.addIdentity | translate }}</h3>
  <div>
    <form class="mb" [formGroup]="addIdentityFormGroup">
      <div class="input-section no-mt">
        <div class="input-label">
          {{ translations.commons.labelNames.name | translate }}
        </div>
        <input
          type="text"
          class="default-input"
          [ngClass]="{
            'is-invalid': addIdentityFormGroup
              .get('name')
              .getError('nameAlreadyPresent')
          }"
          [placeholder]="translations.commons.labelNames.name | translate"
          formControlName="name"
        />
      </div>
      <div
        class="input-error"
        *ngIf="addIdentityFormGroup.get('name').getError('nameAlreadyPresent')"
      >
        {{ translations.commons.errors.nameAlreadyPresent | translate }}
      </div>

      <div class="input-section">
        <div class="input-label">
          {{ translations.commons.labelNames.widsSignatureAPIURL | translate }}
        </div>
        <input
          type="text"
          class="default-input"
          [placeholder]="
            translations.commons.labelNames.widsSignatureAPIURL | translate
          "
          formControlName="url"
          (ngModelChange)="onAddURLTokenChanges()"
        />
      </div>

      <div class="input-section">
        <div class="input-label">
          {{ translations.commons.labelNames.widsAPIToken | translate }}
        </div>
        <input
          type="text"
          class="default-input"
          [placeholder]="
            translations.commons.labelNames.widsAPIToken | translate
          "
          formControlName="token"
          (ngModelChange)="onAddURLTokenChanges()"
        />
      </div>
      <button
        class="btn btn-primary full-width mb"
        *ngIf="addPubKeyAddressGroup.length === 0"
        (click)="onClickAddwIDConnection()"
      >
        {{ translations.commons.buttons.selectKeyFromWids | translate }}
      </button>

      <div class="input-section">
        <app-custom-select
          *ngIf="addPubKeyAddressGroup.length !== 0"
          [labelName]="translations.commons.labelNames.publicKey | translate"
          [options]="addPubKeyAddressGroup"
          [forPublicKeyMode]="true"
          [selectedOption]="getSelectedPubKeyNameForAdd()"
          (onChangeOption)="onPubKeyChangeAdd($event)"
          [onError]="addIdentityFormGroup.get('pubKey').invalid"
        >
        </app-custom-select>
      </div>
    </form>
    <button
      class="btn btn-primary"
      [disabled]="addIdentityFormGroup.invalid"
      (click)="addNewIdentityFormGroup()"
    >
      {{ translations.commons.buttons.save | translate }}
    </button>
    <button
      class="btn btn-danger ml"
      [disabled]="this.identityService.arrayIdentityContent.length === 0"
      (click)="onAddIdentityClick()"
    >
      {{ translations.commons.buttons.cancel | translate }}
    </button>
  </div>
</div>

<div
  class="card card-part"
  *ngIf="identityService.arrayIdentityContent.length !== 0"
>

  <div class="w-100 d-flex">
    <h3>{{ translations.settings.sealIdentities | translate }}</h3>
    <button
      *ngIf="!addState"
      class="btn btn-primary outline identity-add-button"
      (click)="onAddIdentityClick()"
      [appTooltip]="translations.settings.addIdentity | translate"
    >
      <i class="icon-add"></i>
    </button>
  </div>

  <div class="input-section">
    <app-custom-select
      *ngIf="defaultIdentitySelected"
      [labelName]="
        translations.commons.labelNames.identityToUseByDefault | translate
      "
      [options]="getIdentityNames()"
      [selectedOption]="defaultIdentitySelected"
      (onChangeOption)="selectNewDefaultIdentity($event)"
    >
    </app-custom-select>
  </div>

  <div class="input-label add-mt">
    {{ translations.settings.editIdentities | translate }}
  </div>

  <div
    *ngFor="
      let identityContent of identityService.arrayIdentityContent;
      last as last;
      let i = index
    "
  >
    <div
      class="identity-spacer"
      *ngIf="identityOpened !== identityContent.name"
    >
      <button
        class="btn full-width identity-name"
        [ngClass]="{
          'is-used': isIdentityInUse(identityContent.name)
        }"
        [appTooltip]="
          isIdentityInUse(identityContent.name)
            ? (translations.settings.identityUsedInOneFolder | translate)
            : null
        "
        (click)="openEditForm(identityContent.name)"
      >
        {{ identityContent.name }}
      </button>
      <button
        class="btn btn-danger ml"
        [disabled]="isIdentityInUse(identityContent.name)"
        [appTooltip]="translations.settings.deleteIdentity | translate"
        (click)="
          confirmDeleteWIDConnectionDialog = true;
          identitySelected = identityContent
        "
      >
        <i class="icon-trash"></i>
      </button>
    </div>
    <div
      class="identity-spacer editing card"
      *ngIf="identityOpened === identityContent.name"
    >
      <form [formGroup]="editIdentityFormGroup">
        <div class="input-section no-mt">
          <div class="input-label">
            {{ translations.commons.labelNames.name | translate }}
          </div>
          <input
            type="text"
            class="default-input"
            [placeholder]="translations.commons.labelNames.name | translate"
            formControlName="name"
          />
        </div>
        <div class="input-section no-mb">
          <div class="input-label">
            {{
              translations.commons.labelNames.widsSignatureAPIURL | translate
            }}
          </div>
          <input
            type="text"
            class="default-input"
            [placeholder]="
              translations.commons.labelNames.widsSignatureAPIURL | translate
            "
            formControlName="url"
            (ngModelChange)="onEditURLTokenChanges()"
          />
        </div>
        <div class="input-section">
          <div class="input-label">
            {{ translations.commons.labelNames.widsAPIToken | translate }}
          </div>
          <input
            type="text"
            class="default-input"
            [placeholder]="
              translations.commons.labelNames.widsAPIToken | translate
            "
            formControlName="token"
            (ngModelChange)="onEditURLTokenChanges()"
          />
        </div>
        <button
          class="btn btn-primary full-width mb"
          *ngIf="editPubKeyAddressGroup.length === 0"
          (click)="onClickEditwIDConnection()"
        >
          {{ translations.commons.buttons.selectKeyFromWids | translate }}
        </button>
        <div class="input-section">
          <app-custom-select
            *ngIf="editPubKeyAddressGroup.length !== 0"
            [labelName]="translations.commons.labelNames.publicKey | translate"
            [options]="editPubKeyAddressGroup"
            [forPublicKeyMode]="true"
            [selectedOption]="getSelectedPubKeyNameForEdit()"
            (onChangeOption)="onPubKeyChangeEdit($event)"
            [onError]="
              editIdentityFormGroup.get('pubKey').invalid ||
              editIdentityFormGroup.get('pubKey').getError('unableToFindOldKey')
            "
          >
          </app-custom-select>
          <div
            class="input-error"
            *ngIf="
              editIdentityFormGroup.get('pubKey').getError('unableToFindOldKey')
            "
          >
            {{ translations.settings.errors.unableFindFormerKey | translate }}
          </div>
        </div>
      </form>
      <div class="mt">
        <button
          class="btn btn-primary"
          [disabled]="
            editIdentityFormGroup.invalid || editPubKeyAddressGroup.length === 0
          "
          (click)="saveEditForm()"
        >
          {{ translations.commons.buttons.save | translate }}
        </button>
        <button class="btn btn-danger ml" (click)="closeEditForm()">
          {{ translations.commons.buttons.cancel | translate }}
        </button>
        <button
          [disabled]="isIdentityInUse(identityContent.name)"
          class="btn btn-danger ml"
          (click)="
            confirmDeleteWIDConnectionDialog = true;
            identitySelected = identityContent
          "
          [appTooltip]="translations.settings.deleteIdentity | translate"
        >
          <i class="icon-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="card card-part">
  <h3>{{ translations.commons.labelNames.language | translate }}</h3>
  <form [formGroup]="languageFormGroup">
    <app-custom-select
      [options]="languages"
      [activeLangPipe]="true"
      [selectedOption]="
        translations.languages[languageFormGroup.get('language').value]
          | translate
      "
      (onChangeOption)="onLanguageChange($event)"
    >
    </app-custom-select>
  </form>
</div>

<button
  class="btn btn-danger clear-button"
  (click)="clearSaveSettingsConfirmDialog = true"
>
  {{ translations.settings.resetSavedFoldersConfig | translate }}
</button>

<app-confirmation-dialog
  *ngIf="confirmDeleteWIDConnectionDialog || clearSaveSettingsConfirmDialog"
  [confirmationTitle]="getDialogTitle()"
  [confirmationText]="getDialogText()"
  (exitDialog)="onExitDialog($event)"
></app-confirmation-dialog>
