.form-content {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.clear-button {
  margin-top: 5vh;
}

.identity-card {
  margin-top: 50px;
}

.add-identity-form{
  
}

.identity-add-button {
  left: calc(100% - 60px);
  bottom: 44px;
}
