@import '../../scss/variables';

.identity-add-button {
  position: absolute;
  right: $standard-space * 4;
  color: $main-color;
  background-color: $color-white;

  &:hover {
    color: $color-white;
    background-color: $main-color;
  }
}

.identity-spacer {
  display: flex;
  margin-top: $standard-space;
  margin-bottom: $standard-space;

  &.editing {
    display: block;
    border-color: $main-color;
  }
}


.is-used {
  border-color: $text-color;
}